/* Reset margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Nav */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.part-1 {
  width: 93%;
  max-width: 1488px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.part-1 .nav-img {
  margin-left: 120px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.part-1 .nav-text {
  display: flex;
  gap: 32px;
}
.part-1 .nav-text h2 {
  font-size: 16px;
  font-weight: 500;
}
.part-1 .nav-btn button {
  padding: 12px 16px;
  background: #469165;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}
.part-1 .nav-btn button:hover {
  background: #278507;
  color: #ffffff;
}
/* hero part */
header .hero {
  width: 100%;
  height: 674px;
  max-width: 1488px;
  background-image: url(../assets/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  padding: 115.5px;
}
.hero-box {
  text-align: center;
}
.hero-box .hero-box-text h2 {
  background-color: #ffffff;
  border-radius: 1000px;
  margin: 0 auto 16px;
  color: #469165;
  width: 235px;
  height: 35px;
  font-size: 16px;
  font-weight: 500;
  padding: 8px 12px;
}
.hero-box-heading h2 {
  font-size: 72px;
  font-weight: bold;
  color: #ffffff;
}
.hero-box-heading h3 {
  font-size: 72px;
  font-weight: bold;
  color: #30b868;
  margin-bottom: 16px;
}
.hero-box p {
  font-size: 18px;
  line-height: 24px;
  margin: 0 auto 32px;
  font-weight: 400;
  color: #ffffff;
}
.hero-box-btn {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.hero-box-btn .btn1 {
  padding: 12px 16px;
  background: #469165;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.hero-box-btn .btn1:hover {
  background: #278507;
  color: #ffffff;
}

.hero-box-btn .btn2 {
  padding: 12px 16px;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.hero-box-btn .btn2:hover {
  background: #0dc5061a;
}

/* notes segment */
.note h2 {
  width: 93%;
  max-width: 1488px;
  padding-top: 24px;
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}
.note h2 {
  width: 93%;
  max-width: 1488px;
  padding-top: 40px;
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  color: #001931;
}
.note .p {
  width: 93%;
  max-width: 1488px;
  padding-top: 16px;
  margin: 0 auto 44px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #627382;
}
.card-container {
  width: 93%;
  max-width: 1360px;
  margin: 0 auto;
}
.note-card {
  display: flex;
  gap: 24px;
  text-align: center;
}
.note-card .card {
  /* border: 1px solid aqua; */
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.375);
  height: 300px;
  width: 322px;
  align-items: center;
  text-align: center;
}
.note-card .card img {
  background-color: #f95555;
  padding: 12px;
  border-radius: 100px;
  margin-top: 69.5px;
}
.note-card .card h3 {
  font-size: 24px;
  font-weight: 600;
  color: #001931;
  margin-top: 16px;
}
.note-card .card p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
  margin: 16px auto 69.5px;
  padding: 0 16px;
}

.brain-holder {
  display: flex;
}
/* brain
.brain {
width: 93%;
max-width: 1488px;
  /* margin-top: 120px; */

.brain-holder {
  display: flex;
  width: 93%;
  max-width: 1360px;
  margin: 120px auto;
  /* border: 1px solid black;  */
  align-items: center; 
}
.text-box {
  margin: 102px 0px 102px 62px;
}
.text-box h2 {
  font-size: 16px;
  font-weight: 500;
  color: #278507;
  margin-bottom: 16px;
}
.text-box h3 {
  font-size: 48px;
  font-weight: 700;
  color: #001931;
  margin-bottom: 16px;
}
.text-box p {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  line-height: 20px;
  margin-bottom: 40px;
}
.text-box h4 {
  font-size: 16px;
  font-weight: 500;
  color: #001931;
  /* margin-bottom: 16px; */
  line-height: 20px;
}

/* think part */

.think {
  padding: 80px 20px;
  background-color: #ffffff;
}

/* Container */
.think-container {
  max-width: 1100px;
  margin: 0 auto;
  background-color: #faf9f6;
  border-radius: 16px;
  padding: 70px 20px;
  text-align: center;
}
.think-container h2 {
  font-size: 42px;
  font-weight: 700;
  color: #0f172a;
  margin-bottom: 20px;
}
.think-container p {
  font-size: 16px;
  color: #64748b;
  line-height: 1.6;
  margin: 0;
}


#btn {
  margin: 35px 0 25px;
  padding: 14px 28px;
  background-color: #3f8f5f;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

}

#btn:hover {
  background-color: #0cee6e;
}

.div2 {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  color: #64748b;
}
/* footer */
footer {
  background-color: #001931;
  /* width: 93%; */
  max-width: 1488px;
  height: 348px;
  padding-top: 120px;
  
}

.footer-top {
  max-width: 1100px;
  margin: 0px auto ;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-top img {
  width: 139px;


}

.footer-social h3 {
  font-size: 28px;
  font-weight: 500;
  line-height: 28px;
  margin-bottom: 16px;
  color: #ffffff;
}


.footer-social .icon {
  display: flex;
  gap: 16px;
  
}
.footer-social .icon a{
  color: #ffffff;
}

.footer-bottom {
  text-align: center;
  margin-top: 80px;
}
.footer-bottom hr{
  width: 1360px;
  color: #E5E7EB;
}



footer hr {
  max-width: 1100px;
  margin: 40px auto 20px;
  border: none;
  border-top: 1px solid #E5E7EB;
}

.footer-bottom p {
  font-size: 16px;
  font-weight: 400;
  color: #FAFAFA;
  /* margin-bottom: 30px; */
}

