/* Nav */
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.part-1 {
  width: 93%;
  max-width: 1488px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.part-1 .nav-img {
  margin-left: 120px;
  margin-top: 16px;
  margin-bottom: 16px;
}
.part-1 .nav-text {
  display: flex;
  gap: 32px;
}
.part-1 .nav-text h2 {
  font-size: 16px;
  font-weight: 500;
}
.part-1 .nav-btn button {
  padding: 12px 16px;
  background: #469165;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.part-1 .nav-btn button:hover {
  background: #278507; 
  color: #ffffff; 
}
/*  */
